<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookWorld</title>
  <!-- CARGAR ARCHIVOS ESTATICOS CSS IMG JS  -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'libreria/css/style.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- PARA USAR AOS.JS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-5">
    <!-- BOTON COLAPSO CUANDO SEA EN DISPOSITIVOS PEQUEÑOS -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!--  INICIO -->
          <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <!-- FORMULARIO PARA BUSCAR LIBROS -->
      <form class="form-inline my-2 my-lg-0 ml-3" method="GET" action="{% url 'cat_lib' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar libro..." aria-label="Search" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>

  <!-- CONTENEDOR DE LA PAGINA -->
  <div class="container">

    {% block content %}{% endblock %}
  </div>
  <br>

  <!-- FOOTER -->
  <footer class="footer p-5 text-white bg-dark">
    <ul class="nav justify-content-center">
      <br>
      <li class="nav-item">
        <p class="title">Todos Los Derechos Reservados</p>
      </li>
    </ul>
  </footer>



  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>


 <!-- PARA USAR AOS.JS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

 

</body>

</html>