{% extends "base.html" %}

{% load static %}
{% block content %}

<br><br>
<div class="row">
    <!-- CARD AUTORES CON AOS.JS  -->
    <div class="col-sm-12" data-aos="fade-up">
        <h3>Autores</h3>
        <div class="card-columns">
            {% for autor in autores %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ autor.nombre }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ autor.nacionalidad }}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br><br>
{% endblock %}